<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>FillMissingTiles</Name><AddInID>{55cfdfd9-7c1a-414e-a3c9-810761d284d5}</AddInID><Description>Generate missing tiles</Description><Version>0.1</Version><Image /><Author>APL</Author><Company>Esri</Company><Date>05/16/2013</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="AddMissingTiles_addin.py" namespace="AddMissingTiles_addin"><ArcMap>
    <Commands>
        <Tool caption="Add Missing Tiles" category="FillMissingTiles" class="ToolClass2" id="AddMissingTiles_addin.tool" image="" message="" tip=""><Help heading="" /></Tool>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="DCC" category="FillMissingTiles" id="AddMissingTiles_addin.toolbar" showInitially="true"><Items><Tool refID="AddMissingTiles_addin.tool" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>